
    <div *ngIf="produtos | async as prods">
      <div class="ion-justify-content-between">
        <div *ngFor="let produto of prods">
          <div [routerLink]="[ '/detail',produto.key]">
            
            <div class="card" style="width: 18rem;">
              <img src="..." class="card-img-top" [src]="produto.fotos[0]" *ngIf="produto.fotos[0]">
                <div class="card-body">
                  <h5 class="card-title">{{produto.nome}}</h5>
                  <p class="card-text">{{produto.descricao}}</p>
                  <a href="#" class="btn btn-primary">Link</a>
                </div>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  