<section class="container">
  <div class="row" *ngIf="produtos | async as prods">
    <div *ngFor="let produto of prods" class="card col-md-4" [routerLink]="[ '/detail',produto.key]">

      <div style="overflow-x: auto">
        <div class="conteudo">

          <img src="..." class="card-img-top" [src]="produto.foto" *ngIf="produto.foto">
          <div class="card-body">
            <h5 class="card-title">{{produto.nome}}</h5>
            <p>{{produto.descricao}}</p>
            <!--<a href="#" class="btn btn-primary">Link</a>-->

<!--modal-->
<button (click)="buscaplanta(produto.key)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Mais Informações
</button>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" >{{produtoModal.nome}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Descrição</h3>
        <p>{{produtoModal.descricao}}</p>
        <h3>Mais Informações</h3>
        <p>{{produtoModal.maisinfo}}</p>
      </div>
      
    </div>
  </div>
</div>
<!--modal-->
          </div>

        </div>
      </div>

    </div>
  </div>
</section>