<!--form-->
<section>
    <div class="signin">

        <form class="was-validated" #fc="ngForm" (ngSubmit)="onSubmit(fc)">

            <h2>Cadastro das plantas</h2>

            <div class="form-group">
                <label for="foto"></label>
                <input type="file" (change)="onFileSelected($event)">
                <button type="button" (click)="onUpload()">Enviar</button>
            </div>


            <input placeholder="Nome" type="text" name="nome" [(ngModel)]="produtol.nome" required>

<div class="mb-3">
    <label for="validationTextarea" class="msg">Descrição:</label>
    <textarea class="form-control is-invalid" id="validationTextarea" type="text" name="descricao" [(ngModel)]="produtol.descricao" required></textarea>
    <div class="invalid-feedback" style="color:white;">
        Por favor insira uma mensagem na área de texto.
    </div>
</div>

            <ul>
                <li>
                    <button type="submit" [disabled]="!fc.valid">Cadastrar</button>
                </li>
                <li>
                    <button class="btn" type="reset" [routerLink]="['/produtol']">Cancelar</button>
                </li>
            </ul>

        </form>

    </div>
</section>
<!--fim form-->