<!--navbar-->

<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-cinza">

  <a class="navbar-brand" href="#">Plantas Medicinais</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/produtol">Cadastro de Plantas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/entra">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/usuario">Cadastro</a>
      </li>

    </ul>
  </div>

</nav>

<!--fim navbar-->
<router-outlet></router-outlet>

<!--footer-->

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="footer-main-div">

  <div class="footer-social-icons">
    <ul>
      <li>
        <a href="#" target="blank">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
      <li>
        <a href="#" target="blank">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="#" target="blank">
          <i class="fa fa-instagram"></i>
        </a>
      </li>
      <li>
        <a href="#" target="blank">
          <i class="fa fa-youtube"></i>
        </a>
      </li>
    </ul>
  </div>

  <div class="footer-menu-one">
    <ul>
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Home1</a>
      </li>
      <li>
        <a href="#">Home2</a>
      </li>
      <li>
        <a href="#">Home3</a>
      </li>
      <li>
        <a href="#">Home4</a>
      </li>
    </ul>
  </div>

  <div class="footer-menu-two">
    <ul>
      <li>
        <a href="#">news</a>
      </li>
      <li>
        <a href="#">H</a>
      </li>
      <li>
        <a href="#">H</a>
      </li>
      <li>
        <a href="#">H</a>
      </li>

    </ul>
  </div>

</div>

<div class="footer-bottom">
  <p>&copy; Plantas Medicinais 2019</p>
</div>

<!--fim footer-->